{% extends "admin-base.html" %}

{% load static %}
{% load i18n %}

{% block title %}Product Category - Forms{% endblock %}

{% block layout %}
<!-- Basic Layout -->
<div class="row">
    <div class="col-xl">
      <div class="card mb-12">
        <div class="card-header d-flex justify-content-between align-items-center">
          <h5 class="mb-0">Edit Product Category</h5> <small class="text-body float-end"></small>
        </div>
        <div class="card-body">
          <form>
            {% csrf_token %}
            <div class="row">
              <div class="form-floating form-floating-outline mb-6 col-4">
                <input type="text" class="form-control" id="Name" placeholder="Name" value="{{product_sub_category.name}}"/>
                <label for="Name">Name</label>
              </div>
              <div class="form-floating form-floating-outline mb-6 col-4">
                  <select id="category" class="form-select select2-init" aria-label="Default select example">
                    <option value="">Select Parent Category</option>

 
                    {% for category in categories %}
                      {% if category.id|stringformat:"s" == product_sub_category.category|stringformat:"s" %}
                        <option value="{{ category.id }}" selected>{{ category.name }}</option>
                      {% else %}
                        <option value="{{ category.id }}">{{ category.name }}</option>
                      {% endif %}
                    {% endfor %}


                  </select>
                  <label for="category">Parent Category</label>
              </div>

              
            </div>

            <div class="btn btn-primary" onclick="return validation()">Submit</div>
            <div class="btn btn-danger">Cancel</div>
          </form>
        </div>
      </div>
    </div>
    <!-- Merged -->

</div>
{% endblock layout %}

{% block page_js %}
{{block.super}}

<script>
  
  function validation() {
    var Name = $("#Name").val().trim();
    var category = $("#category").val();


    if (IsValid(Name)) {
      swal({
            icon: "error",
            title: "",
            text: "Please enter valid Name",

          });
          
      $("#Name").focus();
      return false;
    }
    
    if (IsValid(category)) {
      swal({
            icon: "error",
            title: "",
            text: "Please select valid category",

          });
          
      $("#category").focus();
      return false;
    }
    else {
      var formData = new FormData();
      formData.append('csrfmiddlewaretoken', '{{ csrf_token }}');
      formData.append('name', Name);
      formData.append('category', category);
      formData.append('id', '{{product_sub_category.id}}');


      $.ajax({
        url: hosturl + "/stefi-admin-product/edit-product-sub-category/{{product_sub_category.id}}",
        type: 'POST',
        data: formData,
        processData: false,
        contentType: false,
        dataType: 'json',
        beforeSend: function () {
          swal({
            icon: "info",
            title: "",
            text: "Loading...",
            buttons: false,

          });
        },
        success: function (response) {
          // console.log("----", response)
          if (response.response.n == 1) {
            swal({
              icon: response.response.status,
              title: "",
              text: response.response.msg,
              button: "Close",
            }).then(() => {
                window.location.href = hosturl + '/stefi-admin-product/product-sub-category-list';
              });


          }
          else {
            swal({
              icon: response.response.status,
              title: "",
              text: response.response.msg,
              button: "Close",
            });
          }


        }
      });

    }


  }

</script>
{%endblock page_js %}